# Environment variables
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
docque/
myenv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# IDE
.vscode/
.idea/